body {
	padding: 0px;
	margin: 0px;
}

header {
	/*background-image: url("/image/header.png");*/
	width: 100%;
	height: 80px;
}

header .image-header {
	position: absolute;
	height: 30em;
	width: 100%;
	z-index: -999;
}

header .main-menu {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: block;
	font-family: 'Arial', sans-serif;
	font-size: 22px;
	float: right;
	margin-right: 240px;
}

header .main-menu li {
	display: inline-block;
	margin-right: 5px;
	margin-right: -7px;
}

header .main-menu li a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 22px 80px 23px 80px;
}

header .main-menu li a:hover {
	color: white;
}

header .logo {
	display: block;
	width: auto;
	height: 58px;
	padding-top: 15px;
	/*border: 1px solid red;*/
	text-decoration: none;
	float: left;
	color: #3B3B3B;
	margin-left: 80px;
	font-size: 32px;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
}

/*header .logo span{
	font-weight: normal;
}*/

/*--------------FIX-MAIN - START---------------*/
main {
	padding: 0px;
	margin: 0px;
}


.container-books {
	border: 2px solid #3B3B3B;
	width: 700px;
	height: auto;
	margin: 0 auto;
	margin-top: 115px;
	border-radius: 2px;
	box-shadow: 1px 2px 7px 1px rgba(59,59,59,0.6);
}

.container-books .head-container {
	height: 50px;
	background-color: #3B3B3B;
	text-align: center;
	font-family: 'Arial', sans-serif;
	padding-top: 20px;
}

.container-books .head-container .head-text {
	font-size: 24px;
	color: #fff;

}

.container-books .name-book {
	height: 50px;
	border-bottom: 1px solid #E0E0E0;
	padding: 15px 10px 15px 10px;
	background-color: #FAFAFA;
}

.container-books .name-book #book-name {
	padding: 10px 10px;
	border: 2px solid #3B3B3B;
	outline: none;
	font-size: 20px;
	width: 80%;
	border-radius: 2px;
}

/*.container-books .name-book #book-name:focus {
	border-color: #FF9600;
}*/


.container-books .name-book .btn-name {
	display: inline-block;
	background-color: #FF9600;
	color: #fff;
	outline: none;
	border-radius: 2px;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	padding: 0px 0px 13px 0px;
	border: none;
	margin-left: 10px;
	cursor: pointer;
	height: 40px;
	width: 40px;
}

/*.container-books .name-book .btn-name:active {
	background-color: #E78625;
}*/

.container-books .name-book .btn-name .d24 {
	background: #fff;
	height: 25px; 
	width: 5px;
	position: relative; 
	left: 18px;
	top: 6px;
}
.container-books .name-book .btn-name .d24:after {
	content: "";
	height: 5px; 
	width: 25px;
	background: #fff;
	position: absolute; 
	left: -10px; 
	top: 10px;
}

.container-books .books-list {
	font-family: 'Arial', sans-serif;
}

.container-books .books-list ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.container-books .books-list ul li {
	padding: 14px 15px 6px 15px;
	border-bottom: 1px solid gray;
	height: 35px;
	/*border: 1px solid red;*/
}

.container-books .books-list ul li:hover div{
	opacity: 1;
	background-color: rgba(158,158,158,.2);
}

.container-books .books-list ul li a {
	text-decoration: none;
	color: #000;
	font-size: 22px;
	
}

.container-books .books-list ul li div {
	display: inline-block;
	opacity: 0;
	float: right;
	font-family: 'Arial', sans-serif;
	color: #757575;
	cursor: pointer;
	padding: 7px 12px;
	margin-top: -3px;
}

.container-books .books-list ul li div:active {
	background-color: rgba(158,158,158,.4);
}


/*--------------FIX-MAIN - END---------------*/

/*--------------<CHOOSE - START>---------------*/

.choose-redactor {
	margin: 0 auto;
	width: 32.5em;
	height: 10em;
	padding: 15px 20px;
	border: 1px solid black;
	margin-top: 70px;
	background-color: #2A7EF9;
	box-shadow: 5px 5px 7px rgba(34,34,34,0.5);
	text-align: center;
}

.choose-redactor a {
	display: inline-block;
	text-decoration: none;
	color: white; 
	font-family: 'Arial', sans-serif;
	font-size: 28px;
	/*border: 1px solid red;*/
	padding: 5px 10px;
	margin-top: 40px;
	margin-left: -4px;
}

.choose-redactor a:hover {
	color: #fff;
}

.choose-redactor .cked {
	border-right: 2px solid #fff;
	padding-right: 12px;
}

/*--------------<CHOOSE - END>---------------*/

/*--------------<FORM : LOGIN - START>---------------*/

.login-field{
	font-family: "Arial", sens-serif;
	background-color: #2A7EF9;
	padding: 0px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 350px;
	height: 450px;
	color: white;
	box-shadow: 5px 5px 7px rgba(0,0,0,0.5);
}

.alert-login{
	display: none;
	position: absolute;
	top: 15%;
	left: 40.9%;
	/*top: 135px;
	left: 785px;*/
	width: 350px;
	height: 55px;
	background-color: #2A7EF9;
	color: #fff;
	font-family: 'Arial', sans-serif;
	font-size: 24px;
	text-align: center;
	padding-top: 17px;
	box-shadow: 5px 5px 7px rgba(60,129,244,0.7);
}

.login-field .login-h1{
	/*font-family:"Times New Roman", serif;*/
	display: block;
	text-align: center;
	padding-top: 45px;

}

.login-field .place-LP{
	padding-top:20px;
}

.login-field .field-LP{
	display: block;
	padding: 5px 10px;
	margin-left: auto;
	margin-right: auto;
}

.login-field label{
	display: block;
	padding: 10px 0px 10px 0px;
	/*border: 1px solid white;*/
	text-align: center;
}

.login-field #sub_log{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: #2A7EF9;
	color: white;
	border: 2px solid #999;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: bold;
}

.login-field #sub_log:hover{
	cursor: pointer;
}

.login-field .reg-link{
	width: 100%;
	font-size: 20px;
	margin-top: 20px;
	text-align:center;
}

.login-field .reg-link a{
	/*color: white;*/
	color: lightcyan;
}

/*--------------<FORM : LOGIN - END>---------------*/


/* -------------- INFORMATION - START -------------*/

.container {
	/*border: 1px solid #000;*/
	width: 40%;
	height: auto;
	background-color: #E1E1E1;
	margin: 0 auto;
	margin-top: 100px;
	padding: 50px 25px;
	margin-bottom: 50px;
}

.header-info {
	font-family: 'Arial', sans-serif;
	font-size: 38px;
}

.version-info {
	font-size: 18px;
	font-style: italic;

}

.text-info {
	font-size: 22px;
}

.link-container {
	box-sizing: border-box;
	/*border: 1px solid red;*/
	text-align: center;
	margin: 0 auto;
}

.user-button {
	display: inline-block;
	padding: 15px 30px;
	text-decoration: none;
	color: white;
	background-color: #2A7EF9;
	font-weight: bold;
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	border-radius: 10px;
/*	margin-left: 225px;
	margin-top: 20px;*/
}






/* -------------- INFORMATION - END -------------*/



/* -------------- USER AGREEMENT - START -------------*/



/* -------------- USER AGREEMENT - END -------------*/



